<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MyTestSuite">

    <test name="edgeTest" >
        <parameter name="Browser" value="edge" />
        <classes>
            <class name="MainFuncTest" />
            <class name="E2ETest"/>
        </classes>
    </test>

</suite>

