<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MyTestSuite" parallel="tests">

    <test thread-count="3" name="chromeTest" >
        <parameter name="Browser" value="chrome" />
        <classes>
            <class name="MainFuncTest" />
        </classes>
    </test>

</suite>

